* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: gilroy;
}
html,
body {
  height: 100%;
  width: 100%;
}
#nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
}

#nav-menu {
  display: flex;
}
h2 {
  padding-right: 10px;
}
h3 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 100px;
  font-family: "Courier New", Courier, monospace;
  font-weight: 700;
  color: aqua;
  margin-top: 200px;
}
